body {
  font-family: sans-serif;
  font-size: 11px;
}

.calcContainer {
  padding: 0 10px 10px 10px;
  border: 3px solid coral;
  border-radius: 12px;
  /*border-style: outset;*/
  width: 120px;

  display: flex;
  flex-direction: column;

  box-shadow: 4px 4px cyan;
}

.calcTitle {
  flex: 0 1 auto;
  text-transform: uppercase;
  padding: 2px;
  font-family: monospace;
  color: rgba(0, 0, 0, .2);
}

.screen {
  font-family: monospace;
  border: 1px solid coral;
  box-shadow: 1px 1px coral;
  border-radius: 1px;
  padding: 3px 6px 3px 3px;
  width: 104px;
  height: 16px;
  margin-left: 2px;
  margin-bottom: 4px;

  flex: 0 1 auto;
}

.screenText {
  font-family: monospace;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}

.buttonContainer {
  display: inline-block;
  padding: 2px;
  flex: 0 1 auto;
}

.buttonRow {
  display: block;
}

.button {
  display: inline;
  border-radius: 5px;
  width: 25px;
  cursor: pointer;
  font-weight: bold;
  &:active {
    border-top: none;
    border-bottom: none;
    border-left: 2px solid coral;
    border-right: 2px solid coral;
  }
}

.clearButton {
  background: inherit;
  border: none;
  flex: 0 1 auto;
  align-self: flex-end;
}

hr {
  margin: 20px 0 20px 0;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: coral;
  color: white;
  padding: .25rem;
  border-radius: 3px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: 40;
  top: 46;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
